@font-face {
    font-family: 'Gilroy';
    src: url('/static/files/Gilroy-Bold.ttf') format('truetype');
    font-weight: 700;
}

form{
    border: 2px solid  rgb(52, 104, 121);
    width: 500px;
    margin-top: 60px;
    position: absolute;
    right: 50%;
    bottom: 50%;
    transform: translate(50%,50%);
    background-color:#f5f9fa;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    height: 400px;
    padding: 50px;
}
.container1{
      display: flex;
      flex-direction: row;
      gap: 15px;
      margin-bottom: 40px;
}
.container2{
      display: flex;
      flex-direction: row;
      gap: 15px;
      margin-bottom: 40px;
}
#label2{
    margin-left: 3px;
}
textarea{
    width: 250px;
    height: 150px;
    font-size: 17px;
    font-weight: 500;
}
.btn{
    height: 40px;
    width: 120px;
    background-color: rgb(52, 104, 121);
    color: white;
    font-weight: 600;
    border-radius: 5px;
}
input{
     font-size: 17px;
    font-weight: 500;
}
.btn:hover{
    background-color: rgb(41, 85, 100) ;
}