{% extends "tasks/base.html" %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'tasks/css/dashboard.css' %}">
{% endblock css %}

{% block content %}
{% if user.is_authenticated %}
   <p class="username">Welcome {{user.username}}</p>
   {% for task in tasks  %}

  <div class="task-card">
    <div class="task-content">
     <h3>{{ task.title }}</h3>
     <p>{{task.Description}}</p>
     <span class="Date">{{task.CreationDate}}</span>
    </div>
    
     <div class="task-actions">
      <a href="{% url 'edit_task' task.id %}" class="edit-btn">Edit</a>
      <a href="{% url 'delete_task' task.id %}" class="delete-btn">Delete</a>
    </div>
   </div>

   {% endfor %}
{% else %}
<div class="second">
    <h4 class="empty">No tasks to view, login first</h4>
</div>
    
{% endif %}

{% endblock content %}
